<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
 <%=render partial: 'navigation/nav'%>

 <main class="mdl-layout__content">
     <div class="mdl-grid">
      <%=render partial: 'feature/feature',
                          collection: @features, 
                          locals: {link_for_details: true, link_for_category: false}%>
     </div>
 </main>
</div>