<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%=render partial: 'navigation/nav'%>
  <main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media mdl-cell--12-col">
                        <img class="article-image" width=100% src="/assets/images/radek-grzybowski-eBRTYyjwpRY-unsplash.jpg" alt="">
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Introduction</h3>
                        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                            <p>
                                Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.
                            </p>
                        </div>

                    </div>
                </div>


            </div>
        <%# <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
            </div>

            <div class="mdl-cell mdl-cell--10-col">
                <p class="mdc-typography--headline3">About Us</p>
                <p>This e-commerce site allows customers to pick desirable features for their future website</p>
                <p>In order to initialize the project, please login</p>
                <button class="mdc-button">
                    <span class="mdc-button__label">Start</span>
                </button>
            </div>

            <div class="mdl-cell mdl-cell--1-col">
            </div>
        </div> %>

    </div>
  </main>
</div>

